
/* Style and layout for elements spcific to the about page */

.info-box {
  cursor: default;
  outline: 5px solid #8ab0ab;
  margin-top: 10vh;
  margin-bottom: 20vh;
  padding: 2rem;
}

.box-title {
  text-decoration: underline 5px solid #8ab0ab;
  text-underline-offset: 15px;
}

#about-me-header {
  display: flex;
  gap: 3vw;
}

#about-me-header img{
  margin-left: 3vw;
}

#about-me-content {
  padding: 1rem;
  max-width:60vw;
}