
.info-box {
  cursor: default;
  outline: 5px solid #8ab0ab;
  margin-top: 7vh;
  margin-bottom: 15vh;
  padding: 1.5rem 2rem 0;
  height: 55vh;
  max-width:60vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.info-box p {
  margin-right: 1.5rem;
}


@media screen and (max-height: 625px) {
  .info-box{
    height: 35vh;
  }
}

.info-box::-webkit-scrollbar {
  width: 20px;
}

.info-box::-webkit-scrollbar-track {
  border-radius: 100px;
}

.info-box::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #8ab0ab;
}

.info-box .box-title {
  font-size: calc(1vw + 1em);
  text-decoration: underline 0.3rem solid #8ab0ab;
  text-underline-offset: 0.5vh;
}

#about-me-header {
  display: flex;
  gap: 3vw;
  margin-bottom: 5vh;
}

#about-me-header img{
  height:16vh;
  margin-left: 3vw;
}

#about-me-content span {
  color: #8ab0ab;
}
