@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

/* *{
  border:0.1px solid red;
} */

body {
  background-color: #1A1D1A;
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  max-height: 100%;
  margin: 0 auto;
  line-height: 1.5;
  padding: 4em 1em;
  color:#F3F5F7;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

#navbar{
  background-color: #8AB0AB;
  display:flex;
  justify-content:space-around;
  align-items: center;
}

a { 
  color:#3E505B;
  font-size: calc(1vw + 1em);
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:active { text-decoration: none; }

a:hover { 
  text-decoration: none;
  color: #03120E;
}

#hero{
  display:flex;
  justify-content:center;
  align-items: center;
}

#footer {
  position: absolute;
  display:flex;
  justify-content:space-around;
  align-items: center;
  bottom: 0;
  width: 80%;
  height: 10vh;
  background-color: #8AB0AB;

}