@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

/* * {
  border: 0.1px solid red;
} */

html {
  height: 100vh;
}

body {
  height: 100vh;
  background-color: #1a1d1a;
  font-family: "Open Sans", sans-serif;
  color: #f3f5f7;
  margin:0;
  padding:0;
  height:100%;
}

main{
  min-height:100vh;
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  padding: 4em 1em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

#navbar {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8ab0ab;
}

a {
  color: #3e505b;
  font-size: calc(1vw + 1em);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #03120e;
}

.info-box {
  outline: 5px solid #8ab0ab;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 2rem;
  min-height:50vh;
  margin-bottom: 20vh;
}

#about-me-header {
  display: flex;
  gap: 5vw;
}

.box-title {
  text-decoration: underline 5px solid #8ab0ab;
  text-underline-offset: 15px;
}

.project-list {
  display:grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  column-gap: 3vw;
}

.project-list h2 {
  text-decoration: underline 3px solid #8ab0ab;
  text-underline-offset: 6px;
}

.description-header{
  display:grid;
}

#footer {
  position:absolute;
  bottom:0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 20vh;
  color: #3e505b;
  background-color: #8ab0ab;
}

#contact-me-footer-section {
  display: flex;
  flex-direction: column;
  max-height: 10vh;
}

#contact-me-footer-section h2 {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

#contact-me-footer-section h3 {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

#contact-me-footer-section p {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

#hero{
display:flex;
justify-content: center;
align-items: center;
}

#hero-title{
  display:flex;
  justify-content: center;
  align-items: center;
  min-width:25vw;
  font-size: calc(2.5vw + 1em);
}

.bracket{
  color:#8ab0ab;
  font-size: calc(0.5vw + 1em);
}
