
/* Style for the general layout of the pages */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

body {
  height:100vh;
  margin: 0;
  padding: 0;
  background-color: #1a1d1a;
  font-family: "Open Sans", sans-serif;
  color: #f3f5f7;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
  padding: 4em 1em;
}

